html {
    box-sizing: border-box;
    background-color: #5f1be0;
    height: 100%;
    margin: auto;
    width: 960px;

}


header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    background: transparent;
}
.container {
    background-color: #5f1be0;
}


.jumbotron {
    color: whitesmoke;
    background-color: rgba(0,0,0,0.7);
    background-size: cover;
    height: 200px;
}
.design {
    background: whitesmoke;
    border: 5px solid black;
    border-radius: 25px;
    padding: 1em;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 2em;
}

nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;

}

h1, h2 {
    font-weight: bolder;
}

h3, p {
    background-color: whitesmoke;
}

th {
    padding-right: 1em;
}
