.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
    height: 200px;
}

h1 {
    color: grey;
    text-align: center;
}
.opaque-bg {
    background: rgba(0, 0, 0, 0.7);
}


.card {
    border: 1px solid orange;
}