.invisible {
    visibility: hidden;
}


.highlight {
    background-color: #e90224;
}

dl, dt, dd {
    padding: .5em;
    margin: auto;
}

dd {
    background-color: deepskyblue;
}

#left-frame, #middle-frame, #right-frame {
    display: flex;
    justify-content: space-between;
}
