* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
.top-nav {
    display: flex;
    background-color: #848487;
    height: 58px;
}
ul {
    display: flex;
    width: 100%;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.nav-item {
    padding: .5em;
    display: flex;
    justify-content: center;
}
#leftFollow {
    margin-left: auto;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: 0;
    position: absolute;
    text-align: center;
    left: calc(50% - 60px);
}
.link-text {
    font-family: 'Work Sans', sans-serif;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.nav-item:hover {
    background-color: blue;
}


/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

/*nav {*/
/*    background: #808080;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*nav a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/


/*footer nav {*/
/*    display: flex;*/
/*}*/

/*footer ul {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    padding: .5em;*/
/*}*/

/*.first-list li {*/
/*    padding-left: .5em;*/
/*}*/

/*.logo {*/
/*    padding-top: .2em;*/
/*    padding-bottom: .2em;*/
/*    font-size: 3em;*/
/*}*/

/*a:hover {*/
/*    color: blue;*/
/*}*/
